*{
    box-sizing: border-box;
}
h1{
    font-size: 50px;
    color: yellow;
    font-style: italic;
    border: 3px solid;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    background-color: black;
}
h3{
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
}
body{
    background-color: antiquewhite;
}

h1:hover{
    color: #D94F04;
    transition: .5s;
}
footer{
    text-align: center;
    background-color: yellow;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
.imagem img{
    width: 20px;
}
.imagem2 img{
    display: flex;
    flex: row;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 10%;
}