*{
    box-sizing: border-box;
}
h1{
    font-size: 50px;
    color: #8C5D42;
    font-style: italic;
    border: 3px solid;
    border-radius: 20% 0% 20% 0%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    background-color: black;
}
h3{
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
}
body{
    background-color: antiquewhite;
}

h1:hover{
    color: #BFA89B;
    transition: .5s;
}
footer{
    text-align: center;
    background-color: yellow;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
.imagem img{
    width: 20px;
    
}
.imagem2 img{
    display: relative;
    flex: row;
    align-items: center;
    width: 250px;
    height: 180px;
    border-radius: 15% 0% 15% 0%;

    
}
.imagem2{
    position: relative;
    display: flex;
    gap: 70px;
    justify-content: center;
    padding: 3%;
}